<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Agência Bancária</title>
</head>
    <body>
        <h1>Acesso</h1>
        <form th:action="@{/login}" th:object="${userAgency}" method="post">
            <label style="font-weight: bold">Titular:</label>
            <input type="text" name="nameUser" th:field="*{nameUser}" />
            <label style="font-weight: bold">Senha:</label>
            <input type="password" name="password" th:text="${password}" />
            <button style="font-weight: bold" type="submit">Acessar área do usuário</button>
        </form>

        <div>
            <a style="font-weight: bold" th:href="@{/registerUser}">Registrar</a>
        </div>

    </body>
</html>